body{
border-style: ;
  background-color: bisque;
background-image: url(NewYear.jpg);
width:100%;
}
.header{
color: firebrick;
text-align: center;
font-family: cursive ;
}
.sub1{
font-family: cursive ;
color: mediumvioletred;
text-align: center;
}
.sub2{
font-family: cursive ;
color: violet;
text-align: center ;
}
.sub3{
font-family: cursive;
  color: hotpink;
  text-align: center ;
}
.sub4{
font-family: cursive ;
color: darkred;
text-align: center ;
}
footer{
font-family: cursive;
text-align: right ;
color: palevioletred;
text-shadow: magenta;
background-color: lightpink;
}
.sub5{
font-family: cursive ;
color: mediumvioletred;
text-align: center ;
}
.audio{
width:50%;
margin:0 auto;
}
